* {
    box-sizing: border-box;
};

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Fjalla+One&family=Roboto+Mono:wght@100&display=swap');

main {
    align-items: center;
};

.h1 {
    font-family: 'Dosis', sans-serif;
    
};

.button {
    background-color: #1613EE;
};
